h1{
    color:#466725;
    font-size: 24px;
    text-align:center;
}

form{
    border: 2px solid #676767;
    padding: 10px;
    color: #676767;
    width: 510px;
}
table{
    width: 507px;

}
td{
    border: 1px solid #333;
    margin: 0px;
    background-color: #E0F9D9;
    width: 320px;
}
.txtName{
    width: 260px;
}
.txtAdress{
    width: 200px;
}
.txtPhone{
    width: 140px;
}
.guess{
    width: 90px;
}
.msg{
    height: 2px;
}
