h1{
    color: #20744a;
    text-align: center;
}
.p1{
    font-weight: bold;
    text-decoration: underline;
}
.p2{
    font-style: italic;
}
.p3{
    color: #FF0000;
}
.p4{
    width: 468px;
    color: #0000CC;
    background-color: #CCCCCC;
    box-sizing: border-box;
    padding: 0px;
}
form{
    height: 285px;
    width: 472px;
    border: 2px solid #333;
    padding :10px;
}
.p1,.p2,.p3{
    font-size: 16px;
}
.p5{
    font-family: consolas;
    box-sizing: border-box;
    padding-left: 105px;
    font-size: 14px;
}
.p6{
    font-size: 14px;
    font-family: consolas;
    box-sizing: border-box;
    padding-left: 261px ;
}