.content-wrapper{
    margin-bottom: 20px;
    margin-right: 10px;
}
.row{
    margin-top: 20px;
}
.bot-border{
    padding-top: 5px;
    padding-bottom: 25px;
    margin-left: 0px;
    padding-left: 0px;
    border-bottom: 1px solid #EBEBEB;
}
html{
    width: 100%;
}
.flex-container{
    display: flex;
    list-style: none;
}
h3{
    font-family: SFD-Bold;
    font-weight: 550;
    font-size: 26px;
    padding: 10px 5px 20px 0px;
    margin-bottom: -10px;
}
h4{
    font-size: 19px;
    color: #222222;
    font-weight: 650;
    padding: 12px 10px 15px;
}
h5{
    font-family: SFD;
    /* font-family: Arial, Helvetica, sans-serif; */
   font-size: 18px; 
   font-weight: bolder;
   padding-top: 10px;
   color: #222222;
}
label{
    font-size: 12px;
}
.col-sm-8.sub-wrapper .bot-border{
    border-style: dotted;
    border-left: none;
    border-top: none;
    border-right: none;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
.col-sm-8.sub-wrapper ul{
    list-style-type: disc;
}
.col-sm-8.sub-wrapper li{
    color: red;
    font-size: 10px;
    margin-bottom: 8px;
}
.col-sm-8.sub-wrapper ul span+span{
    font-size: 13px;
    color: #878787;
}
.row a{
    text-decoration: none;
}
p{
    color: #444444;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
.header a{
    color: #fff;
    text-decoration: none;
}
.header .title .row{
    display: flex;
    align-items: center;
}
.header .title .row:first-child{
    background-color: black;
    align-items: center;
    padding-left: 140px;
    display: flex;
    margin-top: 0px;
}
.header .title .row:first-child .col-sm-9{
    font-size: 11px;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right:35px;
}
.header .title .row:first-child .col-sm-9 input[type=text]{
    background-color: black;
    font-size: 10px;
    border: 1px solid #333;
    padding: 4px 8px;
    width: 180px;
}
.header .title .row:first-child .col-sm-9 i{
    position: relative;
    right: 18px;
    font-size: 12px;
}
.header .title .row:first-child .col-sm-1{
    display: flex;
    align-items: center;
}
.header .title .row:first-child i{
    font-size: 7px;
    color: white;
}

.header .title .row:first-child a{
    border-style: none;
    font-size: 11px;
    padding: 0px 8px 0px 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 650;
    color: white;
    align-content: center;
}
.header .title .row:last-child{
    background-color: #f0a52b;
    height: 70px;
    margin-top: 0px;
}
.header .title .row:last-child a{
    padding: 4px 10px;
    margin-right: 10px;
}
.header .title .row:last-child .white-border{
    padding-left: 75px;
}

.white-border a{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px 15px;
    border: 1px solid rgba(255, 246, 246, 0.6);
    border-radius: 20px;
} 
.white-border a:hover{
    border: 1px solid rgba(255, 246, 246, 0.7);
}

.header .title .row:first-child a:first-child{
    text-align: right;
}
.header .nav-bar{
    background-color: #A70E1A;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.header ul{
    padding-left: 145px;
}
.header .nav-bar a{
    font-size: 15px;
    padding: 10px 6px;
    font-weight: 500;
}
.header .nav-bar a:hover{
    background-color: #980d17;
}
.fa-house{
    color: #fff;
    font-size: 13px;
    margin-right: 3px;
}
.fa-ellipsis{
    font-size: 20px;
    box-sizing: border-box;
    position: relative;
    top: 3px;
}
.container{
    margin-left: 120px;
}
.container > .row{
    width: 1085px;
    /* margin-top: 10px; */
}
.img-wrapper{
    margin: 0px;
    padding-left: 100px;
    width: 100%;
    background-color: #F1F1F1;
    padding: 16px 132px;
}
.container .sub-wrapper.grey-background{
    background: linear-gradient(to bottom, #ECECEC, #fff);
    height: 100px;
}
.ads-wrapper{
    padding-left: 20px;
    padding-top: 20px;
    width: 320px;
    background: linear-gradient(to right, #f9f6f6, #fff);
    border-left: 1px solid #f1efef; 
}
.ads-wrapper img{
    margin-bottom: 10px;
}
.slide-form{
    position: relative;
    padding-bottom: 50px;
    border-bottom: 3px solid #FF5E34;
    margin-bottom: 25px;
}
.slide-form .resize-form{
    width: 252px;
    height: 155px;
}
.slide-form .sub-wrapper{
    padding-left: 40px;
}
.slide-form .sub-wrapper ~ .sub-wrapper{
    padding-left: 68px;
}
.fa-arrow-left{
    color: white;
    font-size: 24px;
    padding: 30px 0px;
    padding-left: 10px;
    width: 37px;
    background-color: rgba(0,0,0,0.7);
    font-weight: lighter;
    position: absolute;
    left: 12px;
    top: 30px;
}
.fa-arrow-right{
    color: white;
    font-size: 24px;
    padding: 30px 0px;
    padding-left: 10px;
    width: 37px;
    background-color: rgba(251,108,39,.9);
    font-weight: lighter;
    position: absolute;
    right: 0;
    top: 30px;
}
.fa-arrow-right:hover{
    background-color: rgba(251,108,39,1);
    cursor: pointer;
}
.row .sub-wrapper{
    padding-left: 20px;
}
.row h4{
    padding-left: 0px;
    padding-top: 0px;
    margin-bottom: -5px;
}
.row a{
    color: #222222;
    font-weight: 500;
}
.row span{
    font-size: 14px;
}
.col-sm-6 h5{
    margin-top: -20px;
    margin-bottom: -10px;
}
.row p{
    font-size: 13px;
    margin-top: 10px;
}
.featured-news{
    background-color: #2B2B2B;
    padding-bottom: 25px;
    border-radius: 4px;
}
.featured-news .col-sm-12{
    width: 100%;
    background-color: #222222;
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 15px;
}
.featured-news .col-sm-12 h4{
    color: white;
    border-left: 4px solid #FF5E34;
    padding-bottom: 0px;
    padding-left: 20px;
}
.featured-news a h4{
    color: #EEEEEE;
}
.featured-news .row{
    padding-left: 20px;
}
.title{
    /* color: white; */
    font-size: 23px;
    font-weight: 650;
    border-left: 4px solid #FF5E34;
    padding-bottom: 0px;
    padding-left: 10px;
}
.featured-news .bot-border{
    border-bottom: 1px solid #323232;
}
.col-sm-8 .grey-wrapper{
    background-color: #F2F2F2;
    padding: 30px 10px 45px 15px;
    border-top: 1px solid #EBEBEB;
}
.col-sm-8 button{
    border-style: none;
    padding: 5px 15px;
    border-radius: 7px;
    background-color: #E5E5E5;
}
.col-sm-8 button span{
    color: #222222;
    font-weight: 600;
    font-size: 15px;
    padding-left: 3px;
}
.col-sm-8 .resize-form{
    width: 261px;
    height: 165px;
}
.col-sm-8.grey-background{
    background-color: #F1F1F1;
    padding-left: 22px;
    border: 1px solid #D8D8D8;
    border-radius: 10px;
    padding-bottom: 30px;
}
.col-sm-8.grey-background .fa-star{
    font-size: 24px;
    padding-left: 4px;
    padding-top: 5px;
}
.col-sm-8.grey-background h3{
    padding: 0px;
    margin: 8px 10px 0px -15px;
    /* margin-left: -15px; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.pick-editor i{
    width: 30px;
    height: 30px;
    background-color: white;
    color: #FF6115;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 3px;
}
.pick-editor h3{
    padding: 0px;
    margin-left: -30px;
    background-color: #D8D8D8;
    width: 200px;
}
.pick-editor h4{
    padding-top: 10px;
    margin-bottom: -15px;
}
.pick-editor .left-border{
    border-left: 1px solid #D8D8D8;
    padding-left: 5px;
}
.star h4{
    margin-top: -10px;
    margin-bottom: -35px;
}
.col-sm-6 .title{
    padding-bottom: 10px;
}
.tag-hot i{
    color: #FF5E34;
}
h3 i{
    font-size: 19px;
}
.nav-footer{
    width: 100%;
    margin: 30px 0px;
}
.nav-footer ul{
    background-color: #E9E9E9;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}
.nav-footer ul{
    padding-left: 165px;
}
.nav-footer li{
    font-size: 13px;
    padding: 10px 6px;
    font-weight: 500;
}
.nav-footer a{
    color: #989797;
    border-right: 1px solid #989898;
    text-decoration: none;
    padding-right: 7px;
    margin-right: -5px;
}
.nav-footer a:first-child{
    /* border-right:none; */
}
.nav-footer a:hover{
    text-decoration: underline;
    color:#A70E1A;
}
.nav-footer ul a~{
    border-left: 1px solid #989898;
}
.footer{
}

.footer li{
    display: block;
    padding: 10px;
}