*{
    padding: 0px;
    margin: 0px;
}
.styled_link{
    text-decoration: none;
    font-weight: 400;
    color: black;
}
.styled_text{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color:black;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header{
    width: 1040px;
    height: 78px;
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
}
.header .title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    margin-left: 53px;
    margin-right: 300px;
}
.header .sub-form{
    display: flex;
    align-items: center;
    width: 126px;
    height: 40px;
}
.header .styled_link{

}
.header .styled_button {
    width: 126px;
    height: 40px;
    border: 2px solid #B71616;
}
.container{
    margin-left: 50px;
}
.container .nav-bar{
    margin: 15px 50px;

}
.container .nav-bar .styled_link{
    font-weight: 600;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 33px;
}
.container .main_news{
    width: 970px;
}
.container .main_news .big_form{
    width: 470px;
    height: 352px;
    display: block;
    position: relative;
}
.container .main_news .big_form .styled_link{
    color: white;
    font-size: 26px;
    position: absolute;
    bottom:0;
    left: 10px;
    font-weight: 550;
}
.container .main_news .big_form .styled_link:hover{
    display: block;
    background-color: #b6b3b3;
    opacity: 0.3;
    
}
.container .main_news .small_wrapp-form{
    width: 500px;
}
.container .main_news .small_form{
    width: 235px;
    height: 176px;
    display: block;
    position: relative;
    margin: 0px 2px 2px 2px;
}
.container .main_news .small_form .styled_link{
    color: white;
    display: block;
    width: 195px;
    font-size: 17px;
    position: absolute;
    bottom: 5px;
    left: 12px;
    font-weight: 550;
    line-height: 23px;
}